// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 1em 0.5em;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    border-spacing: 20px;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

tr {
    display: table-row;

    vertical-align: inherit;
    border-color: inherit;
}